@charset "UTF-8";

/* style reset */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* { 
	margin: 0;
	padding: 0;
}
/* end style reset */

/* general CSS */
html {
	background-color: #5C5C5C;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#main {
	height: 100%; 
	width: 100%;
}
/* end general CSS */

/* header CSS */
#header {
	border-bottom: 1px solid #202020;
	float: left;
	height: 40px;  
}

#header, #nav {
 	background-color: #5C5C5C;
	width: 100%;
}

#nav ul {
	list_style: none;
}

#nav ul li{
	background-color: #333333;
	border-left: 1px solid #202020;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: white;
	display: block; 
	float: left;
	height: 50px; 
	line-height: 40px;
	position: relative;
	text-align: center;
	text-shadow: 3px 2px #202020;
	width: 100%;
}

#nav ul li:hover {
	color: rgb(26, 170, 218);
	cursor: pointer;
	background-color: #202020;
}
/* end header CSS */

/* content CSS */
#content{
	float: left;
}

p {
	color: white;
	font-size: xx-large;
	margin-top: 20px;
	margin-left: 480px;
	text-align: center;
	text-shadow: 3px 2px #202020;
}

#content form {
	background-color: white;
	border: 2px solid #333333;
	border-radius: 8px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
		-moz-box-shadow: 3px 3px 3px 3px  rgba(0, 0 , 0, .4);
		-webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
	float: left;
	margin-top: 20px;
	margin-left: 400px;
	width: 70%
}

#content table {
	float: left;
	margin-left: 30px;
	padding: 10px 20px;
}

#content input[type=text] {
  border: 2px solid #333333;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
}

#content input[type=text]:focus {
  background-color: #333333;
  border: 3px solid #202020;
  color: white;
}

#content input[type=number] {
  border: 2px solid #333333;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
}

#content input[type=number]:focus {
  background-color: #333333;
  border: 3px solid #202020;
  color: white;
}

#content input[type=date] {
  border: 2px solid #333333;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
}

#content input[type=date]:focus {
  background-color: #333333;
  border: 3px solid #202020;
  color: white;
}

#content .btn, .btn:visited {
	background-color: white;
	border-radius: 5px;
	color: black;
	border: 2px solid #333333;
	padding: 3px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left:20px;
}

#content .btn:hover, .btn:active {
	background-color: #333333;
	border: 2px solid #202020;
	color: white;
}

/* ################# SELECT CSS ############################## */
select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #333333;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #333333 0%,#eee 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
select::-ms-expand {
    display: none;
}
select:hover {
    border-color: #202020;
}
select:focus {
	background-color: #333333;
    border-color: #202020;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: white; 
    outline: none;
}
select option {
    font-weight:normal;
}
/* ########################################################### */
/* end content CSS */