@charset "UTF-8";

/* style reset */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* { 
	margin: 0;
	padding: 0;
}
/* end style reset */

/* general CSS */
body {
	font-family: Arial, Helvetica, sans-serif;
}

#main {
	background-color: #5C5C5C;
	height: 100%; 
	width: 100%;
}

ul {
	list-style-type: none;
}
/* end general CSS */

/* header CSS */
#header {
	border-bottom: 1px solid #202020;
	float: left;
	height: 20%;  
}

#header, #nav {
 	background-color: #5C5C5C;
	width: 100%
}

	/** menu container CSS **/
#menu_container {
	float: left;
	height: 63px;
	width: 100%;
}

#login_container, #search_container, #admin_container {
	display: inline-block;
	margin-top: 8px;
	margin-right: 8px;
	float: right;
}

#menu_container > div > div {
	float: right;
	padding: 0px 0px 5px 15px;
}
		/*** alert message ***/
#alert_msg {
	background-color: #333333;
	border: 2px solid #202020;
	box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
		-moz-box-shadow: 3px 3px 3px 3px  rgba(0, 0 , 0, .4);
		-webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
	border-radius: 5px;
	color: #f72525;
	display: block;
	float:left;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px;
	text-shadow: 3px 2px #202020;
}
		/*** end alert message ***/
		/*** admin container ***/
#btn_admin, #btn_admin:visited {
	border: 2px solid white;
	border-radius: 5px;
	color: #08ffb9;
	display: inline-block;
	text-decoration: none;
	padding: 10px 8px;
}

#btn_admin:hover, #btn_admin:active {
	background-color: #08ffb9;
	box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
		-moz-box-shadow: 3px 3px 3px 3px  rgba(0, 0 , 0, .4);
		-webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
	color: white;
	margin: 0px;
}	
		/*** end admin container ***/

		/*** search container ***/
#search_container {
	width: 700px;
}
		
#search_container input[type=text] {
	border: 2px solid #333333;
	border-radius: 8px 0px 0px 8px;
	display: inline-block;
	font-size: 13px;
	padding: 12px 20px;
	width: 80%;
}

#search_container input[type=text]:focus {
	background-color: lightblue;
	border: 3px solid #202020;
	width: 79%
}

#search_container #search_btn {
	background-color: white;
	border-radius: 0px 8px 8px 0px;
	color: black;
	border: 2px solid #333333;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-left: -5px;
}

#search_container #search_btn:hover, .btn:active {
	background-color: #202020;
	color: white;
}
		/*** end search container ***/
		
		/*** login container ***/
#btn_login_register, #btn_login_register:visited {
	border: 1px solid white;
	border-radius: 5px;
	color: #2587f7;
	display: inline-block;
	text-decoration: none;
	padding: 3px 5px;
}

#btn_login_register:hover, #btn_login_register:active {
	background-color: #2587f7;
	box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
		-moz-box-shadow: 3px 3px 3px 3px  rgba(0, 0 , 0, .4);
		-webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
	color: white;
	margin: 0px;
}

#btn_logout, #btn_logout:visited {
	border: 1px solid white;
	border-radius: 5px;
	color: #f72525;
	display: inline-block;
	text-decoration: none;
	padding: 3px 5px;
}

#btn_logout:hover, #btn_logout:active {
	background-color: #f72525;
	box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
		-moz-box-shadow: 3px 3px 3px 3px  rgba(0, 0 , 0, .4);
		-webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0 , 0, .4);
	color: white;
	margin: 0px;
}

#menu_container img {
  	border-radius: 25px;
  	width: 50px;
}
		/*** endlogin container ***/
	/** end menu container CSS**/
	
	/** category container CSS **/
#category_container ul {
	list_style: none;
}

#category_container ul li{
	background-color: #333333;
	border-left: 1px solid #202020;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: white;
	display: block; 
	float: left;
	height: 63px; 
	line-height: 50px;
	position: relative;
	text-align: center;
	text-shadow: 3px 2px #202020;
	width: 16.59%;
}

#category_container ul li:hover {
	color: rgb(26, 170, 218);
	background-color: #202020;
}

#category_container div {
	cursor: pointer;
}

#category_container ul ul {
	display: none;
}

#category_container ul li:hover > ul {
	display: block;
	margin-top: 13px;
	margin-left: -1px;
	position: absolute;
	width: 226px;
}

#category_container ul ul li {
	width: 100%;
} 

#category_container ul ul li:hover > ul {
	display: block;
	margin-top: -50px;
	margin-left: 225px;
	position: absolute;
} 
	/** end category container CSS **/
/* end header CSS */