<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${title}"></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/category-form.css}"/>
	</head>
	<body>
		<main id="main">
			<header id="header">
				<nav id="nav">
					<ul>
						<li th:onclick="|location.href='@{/admin}'|">Cancel</li>
					</ul>
				</nav>
			</header>
		
			<div id="content">
				<div id="category_form">
					<p th:text="${title}"></p>
					<form action="#" th:action="@{/admin/category/{id}(id=${category.idCategory})}" th:object="${category}" method="post">
						<table>
							<tr th:if="*{idCategory} != 0">
								<td><label>ID:</label></td>
								<td>
									<input type="hidden" th:field="*{idCategory}"/>
									<span th:text="*{idCategory}"></span>
								</td>
							</tr>
							<tr>
								<td><label th:for="*{name}">Category name:</label></td>
								<td><input type="text" th:field="*{name}" placeholder="type product name"></td>
							</tr>
							<tr>
								<td><label>SuperCategory:</label></td>
								<td>
									<select th:field="*{superCategory}">
										<option th:value="${null}" >Null</option>
										<option th:each="c: ${possibleSuperCategories}" th:value="${c.idCategory}" th:text="${c.name}"></option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="2"><lable>Only add a supercategory if you<br>want to create a subcategory,<br>otherwise choose null</lable></td>
							</tr>
							<tr>
								<td colspan="2"><input type="submit" class="btn" value="Save" /></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</main>
		
	</body>
</html>