<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${product.name}"></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/product.css}"/>
	</head>
	<body>
		<main id="main">
			<header id="header">
				<nav id="nav">
					<ul>
						<li th:onclick="|location.href='@{/}'|">Back to Homepage</li>
						<li th:onclick="|location.href='@{/list/{id}/nameOrder/0(id=${product.category.idCategory})}'|">Back to Categories</li>
						<li th:onclick="|location.href='@{/cart?edit=0&remove=0}'|">Go to Cart</li>
					</ul>
				</nav>
			</header>
			<div id="content">
				<table id="product_table" th:object="${product}">
					<tr th:if="${message}">
						<th colspan="3">
							<div id="alert_msg" class="alert alert-success" role="alert">
								<p th:text="${message}">success message</p>
							</div>
						</th>
					</tr>
					<tr> 
						<th></th>
						<td  colspan="2">
							<img th:id="*{thumbnail} != null" th:src="@{/images/product_thumbnail/{thumb}.jpg(thumb=*{thumbnail})}" th:alt="*{thumbnail}">
							<img th:unless="*{thumbnail} != null" th:src="@{/images/product_thumbnail/default.jpg}" alt="Default image">
						</td>
					</tr>
					<tr>
						<th></th>
						<td id="title"><span th:text="*{name}"></span></td>
						<td id="price">
							<div>
								<span>Price: </span>
								<span id="pr" th:text="${price}"></span>
								<sup id="dec" th:text="${decimalPrice}"></sup>
								<span> Lei</span>
							</div>
						</td>
					</tr>
					<tr>
						<th></th>
						<td id="description" colspan="2" th:text="|Description: *{description}|"></td>
					</tr>
					<tr>
						<th></th>
						<td id="supplier" colspan="2" th:text="|Supplied by: *{supplier.name}|"></td>
					</tr>
				</table>
				
				<div id="cart">
					<div  th:if="${userName} == null">
						<p>Shopping cart not available <br> Please login!</p>
						<a href="/login">Login</a>
					</div>
					<form th:if="${userName} != null" action="#" th:action="@{|/product/${product.idProduct}|}" th:object="${orderItem}" method="post">
						<table>
							<tr>
								<td colspan="2"><input type="submit" class="btn" th:value="|Add ${product.name} to Cart|" /></td>
							</tr>
							<tr>
								<td><label th:for="*{quantity}">Quantity:</label></td>
								<td><input type="number" step="1.0" min="1.0" th:field="*{quantity}"></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</main>
	</body>
</html>