<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<form th:action="@{/registerSubmit}" th:object="${user}" method="post">
			<table border="1">
				<tr>
					<th><label th:for="*{username}">Username:</label></th>
					<td><input type="text" th:field="*{username}" placeholder="Type a username" /></td>
				</tr>
				<tr>
					<th><label th:for="*{password}">Password:</label></th>
					<td><input type="password" th:field="*{password}" /></td>
				</tr>
				<tr>
					<th><label th:for="*{firstName}">First Name:</label></th>
					<td><input type="text" th:field="*{firstName}" placeholder="Type your name"/></td>
				</tr>
				<tr>
					<th><label th:for="*{lastName}">Last Name:</label></th>
					<td><input type="text" th:field="*{lastName}" placeholder="Type your last name"/></td>
				</tr>
				<tr>
					<th><label th:for="*{login}">Email:</label></th>
					<td><input type="text" th:field="*{login}" placeholder="example@mail.com"/></td>
				</tr>
				<tr>
					<th><label th:for="*{logo}">Image:</label></th>
					<td><input type="text" th:field="*{logo}" value="default"/></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Save" /></td>
				</tr>
			</table>
		</form>
	</body>
</html>