<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${title}"></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/user-form.css}"/>
	</head>
	<body>
		<main id="main">
			<header id="header">
				<nav id="nav">
					<ul>
						<li th:onclick="|location.href='@{/}'|">Cancel</li>
					</ul>
				</nav>
			</header>
			
			<div id="content">
				<p th:text="${title}"></p>
				<form th:action="@{/user/register}" method="post">
					<table th:object="${user}">
						<tr>
							<th><label th:for="*{username}">Username:</label></th>
							<td><input type="text" th:field="*{username}" placeholder="Type a username" /></td>
							<td class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
						</tr>
						<tr>
							<th><label th:for="*{password}">Password:</label></th>
							<td><input type="password" th:field="*{password}" /></td>
							<td class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
						</tr>
						<tr>
							<th><label th:for="*{firstName}">First Name:</label></th>
							<td><input type="text" th:field="*{firstName}" placeholder="Type your name"/></td>
							<td class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
						</tr>
						<tr>
							<th><label th:for="*{lastName}">Last Name:</label></th>
							<td><input type="text" th:field="*{lastName}" placeholder="Type your last name"/></td>
							<td class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
						</tr>
						<tr>
							<th><label th:for="*{login}">Email:</label></th>
							<td><input type="text" th:field="*{login}" placeholder="example@mail.com"/></td>
							<td class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></td>
						</tr>
						<tr>
							<th><label th:for="*{logo}">Image:</label></th>
							<td><input type="text" th:field="*{logo}" placeholder="type image name"/></td>
						</tr>
					</table>
					<table th:object="${address}">
						<tr>
							<th><label th:for="*{street}">Street:</label>
							<td><input type="text" th:field="*{street}" placeholder="Str. Name, nr. 00" /></td>
						</tr>
						<tr>
							<th><label th:for="*{city}">City:</label>
							<td><input type="text" th:field="*{city}" placeholder="City Name" /></td>
						</tr>
						<tr>
							<th><label th:for="*{country}">Country:</label>
							<td><input type="text" th:field="*{country}" placeholder="Country Name" /></td>
						</tr>
						<tr>
							<th><label th:for="*{zip}">Zip code:</label>
							<td><input type="text" th:field="*{zip}" placeholder="000000" /></td>
						</tr>
					</table>
					<input class="btn" type="submit" value="Save" />
				</form>
			</div>
		</main>
	</body>
</html>