<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Welcome to our store!</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/welcome.css}"/>
	</head>
	<body>
		<main id="main">
			<header id="header">
                <nav id="nav">
	                <div id="menu_container">
	                	<div id="login_container">
	                		<div th:if="${userName} == null">
	                			<a id="btn_login_register" th:href="@{/login}">Login</a>
								<a id="btn_login_register" th:href="@{/register/form}">Register</a>
	                		</div>
	                		<div th:if="${userName} != null">
	                			<p>Logged in as: <b><span th:text="${userName}"></span></b></p>
								<a id="btn_logout" th:href="@{/logout}">Logout</a>
	                		</div>
							<div>
								<img th:if="${userName} != null" th:src="@{/images/logo/{thumb}.png(thumb=${logo})}" th:alt="${logo}">
							</div>
						</div>
						
	                	<div id="search_container">
							<form action="/search">
								<div class="form-group mb-2">
									<input type="text" name="name" placeholder="Serch for your product here!"/>
									<input type="submit" value="Search" id="search_btn">
								</div>
							</form>
						</div>
						
						<div id="admin_container" th:if="${userName} == admin">
							<a id="btn_admin" href="/admin">Admin panel</a>
						</div>
						
	                </div>
                	
                	<div id="category_container">
                		<ul>
	                    	<li th:each="category: ${mainCategory}">
	                        	<span th:text="${category.name}"></span>
	                        	<ul th:if="${#lists.size(category.subCategories)} != 0">
		                        	<li th:each="subCategory: ${category.subCategories}">
		                        		<div th:if="${#lists.size(subCategory.subCategories)} == 0" id="btn" th:onclick="|location.href='list/${subCategory.idCategory}/nameOrder/0'|">
		                        			<span th:text="${subCategory.name}"></span>
		                        		</div>
		                        		<span th:if="${#lists.size(subCategory.subCategories)} != 0" th:text="${subCategory.name}"></span>
			                        	<ul th:if="${#lists.size(subCategory.subCategories)} != 0">
				                        	<li th:each="subSubCategory: ${subCategory.subCategories}">
				                        		<div id="btn" th:onclick="|location.href='list/${subSubCategory.idCategory}/nameOrder/0'|">
				                        			<span th:text="${subSubCategory.name}"></</span>
				                        		</div>
				                        	</li>
			                        	</ul>
		                        	</li>
		                        </ul>
	                        </li> 
	                    </ul>    
                	</div>
                </nav> 
            </header>
		</main>
		<script th:src="@{/js/welcome.js}" type=""></script>
	</body>
</html>